.frame-4 {
  position: relative;
  /* display: none; */
}

.frame-4__about {
  position: absolute;
  top: 27rem;
  left: 0;
  width: 41rem;
  margin-left: var(--margin-left-top);
  color: var(--font-color-primary);
}

.frame-4__about-text {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 1.6rem;
  margin: 1rem 0;
}

.frame-4__about-link {
  display: inline-block;
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--font-color-complimentary);
  cursor: pointer;
}

.frame-4__main-img {
  max-width: var(--img-width);
  width: 100%;
  position: absolute;
  top: 0;
  right: 0.5rem;
  z-index: 0;
}
